.container {
  margin: 50px auto 100px;
  max-width: 1340px;

  .title {
    font-size: 38px;
    font-weight: 400;
    text-align: center;
  }

  .subtitle {
    color: rgba(0, 0, 0, .7);
    font-size: 20px;
    margin: 10px auto;
    text-align: center;
    width: 40%;
  }

  .advantages {
    display: flex;
    gap: 50px;
    margin-top: 50px;

    .item {

      .img {

      }

      .txt {
        font-size: 20px;
      }

      .info {
        font-weight: 300;
        margin-top: 10px;
      }
    }
  }
}