<div class="sidebar">
  <div class="logo__wrapper">
    <div class="logo">
      <%= link_to 'Some company', '/admin/products' %>
    </div>
  </div>
  <div class="menu">
    <div>
      <%= link_to 'Товары', '/admin/products' %>
    </div>
    <div>
      <%= link_to 'Категории', '/admin/categories' %>
    </div>
  </div>
</div>