*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
  font-weight: 400;
}

ul,
li {
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('./assets/fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('./assets/fonts/Roboto-Bold.ttf');
}