.header {
    align-items: center;
    display: flex;
    font-family: 'Roboto';
    font-weight: 300;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1340px;

    .category {
        width: 40%;
    }

    .links {
        width: 40%;
    }

    ul {
        align-items: center;
        display: flex;
        justify-content: space-between;

        .cart {
            position: relative;

            .cartCount {
                align-items: center;
                background-color: #000000;
                bottom: 90%;
                border-radius: 50%;
                color: #ffffff;
                display: flex;
                font-size: 12px;
                font-weight: 700;
                justify-content: center;
                height: 15px;
                position: absolute;
                left: 100%;
                width: 15px;
            }
        }
    }

    .logo {
        img {
            width: 120px;
        }
    }    
}